<!DOCTYPE html>
<html ng-app="triviaTrend">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Trivia Trends</title>
</head>

<body ng-controller="mainCtrl">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button ng-click="modalOpen=true"><span>+</span> Add Question</button>
  </header>
  <article>
  <nav>
    <a ng-click="getQuestions()">All Questions</a>
    <a ng-click="getByDifficulty(1)">Easy</a>
    <a ng-click="getByDifficulty(2)">Medium</a>
    <a ng-click="getByDifficulty(3)">Hard</a>
    <a ng-click="toggleSearch()">Search by Animal</a>
  </nav>
  <div class="search" ng-hide="!searchOpen">
    <input type="text" ng-model="search.animal" placeholder="Animal to search by">
  </div>
    <question question="question" ng-repeat="question in questions | filter: search"></question>
    <h3 class="change-page left" ng-click="changePage(page, -1)" ng-hide="page == 0">< Prev Page</h3>
    <h3 class="change-page right" ng-click="changePage(page, 1)" ng-hide="questions.length < 10">Next Page ></h3>
  </article>

  <div class="modal" ng-show="modalOpen">
    <form>
      <h4 class="close" ng-click="modalOpen = false">X</h4>
      <span>Question</span><input type="text" ng-model="newQuestion.question">
      <span>Animal it's about</span><input type="text" ng-model="newQuestion.animal">
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="newQuestion.difficulty">
        <h5>{{newQuestion.difficulty}}</h5>
      </div>
        <h4>Options</h4>
        <div>
          <input type="radio" ng-model="newQuestion.correct_answer" value="1">
          <input type="text" ng-model="newQuestion.options[1]">
        </div>
        <div>
          <input type="radio" ng-model="newQuestion.correct_answer" value="2">
          <input type="text" ng-model="newQuestion.options[2]">
        </div>
        <div>
          <input type="radio" ng-model="newQuestion.correct_answer" value="3">
          <input type="text" ng-model="newQuestion.options[3]">
        </div>
        <div>
          <input type="radio" ng-model="newQuestion.correct_answer" value="4">
          <input type="text" ng-model="newQuestion.options[4]">
        </div>
      <div class="buttons">
        <button class="green" ng-click="addQuestion(newQuestion)">Save Question</button>
        <button ng-click="modalOpen = false">Cancel</button>
      </div>

    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="./app.js" charset="utf-8"></script>
</body>

</html>
