@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
*, h1, a, body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body {
  position: relative;
}
header {
  font-weight: bold;
  height: 15vh;
  text-align: center;
  background: rgb(218, 45, 123);
  padding: 2em;
  position: relative;
}
header h1 {
  font-size: 3rem;
  margin: 0;
  color: #eee;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header button {
  background: rgb(1, 206, 241);
  border: none;
  padding: .75rem;
  font-size: 1.15rem;
  border-radius: 1px;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
}
header button span {
  font-size: 2em;
  padding: 0;
  margin: 0;
  margin-right: .45rem;
  line-height: .75;
}
header button:hover {
  opacity: .85;
}
nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-bottom: 12px;
}
nav a {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(1, 206, 241);
  cursor: pointer;
  flex: 1;
}
nav a:nth-child(1n+1) {
  border-left: .25px solid #eee;
}
nav a:hover {
  opacity: .85;
}
article {
  width: 50%;
  max-width: 1200px;
  min-height: 85vh;
  margin: auto;
  background: #ededed;
  padding-bottom: 7vh;
}

.question-wrapper {
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(134, 134, 134, 0.52);
}
.question-wrapper:hover {
  transform: translate(0, -1.5px);
  box-shadow: 2.5px 2.5px 2.5px rgba(134, 134, 134, 0.52);
}
.question-wrapper h3 {
  float: left;
  font-weight: bold;
  margin-bottom: 1rem;
  max-width: 78%;
}
.question-wrapper > div {
  float: right;
  padding: 3px;
  border-radius: 2px;
}
div.gear {
  height: 1.5rem;
  padding: 0;
  margin-right: .25rem;
  cursor: pointer;
  transition: all .5s;
}
div.gear:hover {
  transform: rotate(90deg);
  opacity: .85;
}
.gear img {
  height: 100%;
}
.question-wrapper ul {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}
.chosen {
  background: rgba(121, 121, 121, 0.43);
}
ul li {
  width: 40%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: justify;
  padding: .5em;
}
ul li:hover {
  opacity: .65;
  cursor: pointer;
}
label {
  padding: .5rem;
  line-height: 1.15rem;
}
li input {
  float: left;
}

label, input[type="radio"], input[type="range"] {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(88, 88, 88, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal > form {
  background: #eee;
  width: 50%;
  max-width: 1000px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
}
.modal form > .close {
  position: absolute;
  font-size: 1.5em;
  top: 1rem;
  right: 1.5em;
  width: 1rem;
  color: #777;
  cursor: pointer;
}
.modal form input {
  margin: .5rem 0;
  padding: .5em;
  border: none;
}
.modal input[type="radio"] + input[type=text] {
  width: calc(100% - 1.35em)
}
input[type="range"] {
  max-width: 200px;
}
.modal form .range {
  max-width: 200px;
  text-align: center;
}
.modal .buttons {
  margin-top: 1rem;
}
.modal form button {
  padding: .5rem;
  border: none;
  cursor: pointer;
}
.search {
  padding: 0 22px;
  margin-bottom: 12px;
}
.search input{
  border: none;
  padding: .5em;
  width: 100%;
}
.change-page {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(1, 206, 241);
  margin: 0 12px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.green {
  background: rgb(89, 189, 117);
}
.yellow {
  background: rgb(213, 211, 70);
}
.red {
  background: rgb(218, 45, 123);
}
